/*body {*/
/*    position: absolute;*/
/*}*/
/*https://stackoverflow.com/a/58051848/4530300*/

.__editor {
    background: var(--background);
    border: solid 1px var(--border);
    color: var(--text-main);
    font-family: 'serif';
    margin-top: 10px;
    overflow: scroll;
    padding: 10px;
}

.__editor:focus {
    outline: none;
}

.__toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.__toolbar-item {
    background: var(--button-base);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;
    min-width: 30px;
    padding: 5px;
}

.__toolbar-item:hover,
.__toolbar-item.active {
    background: var(--button-hover);
}

.__toolbar-separator {
    border-left: solid 1px #e0e0e0;
    margin-right: 7px;
}

.__toolbar-separator:last-child {
    display: none;
}
